.service-panel {
  height: 300px;
  background-color: #003B64;
  border-radius: 20px;
  border-color: #ff6600;
  color: white;
  text-align: center;
}

.service-image {
  height: 100px;
  width: 100px;
  display: block;
  margin: 10% auto;
}

.service-panel:hover {
  border-width:5px;
  border-style:double;
}
