<nav class="layoutNavBar navbar navbar-right" id="headerContentBar" ng-controller="layoutController">
  <ul class="nav ">
    <li class="nav-item"><a class="nav-link" href="#navServices"
      scroll-to="navServices" easing="easeInCubic" offset="90"> Services </a></li>
    <li class="nav-item"><a class="nav-link" href="#navAboutUs"
      scroll-to="navAboutUs" easing="easeInCubic" offset="90"> Company </a></li>
    <li class="nav-item"><a class="nav-link" href="#navCareers"
      scroll-to="navCareers" easing="easeInCubic" offset="90"> Careers </a></li>
    <li class="nav-item"><a class="nav-link" href="#navContactUs"
      scroll-to="navContactUs" easing="easeInCubic" offset="90"> Contact Us </a></li>
      <li class="nav-item"><a class="nav-link" href=""> Login </a></li>
  </ul>
</nav>
